<form method="post" action="{{ path('medicament_delete', {'id': medicament.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer le medicament?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ medicament.id) }}">
    <button class="btn btn-round" onclick="f()">Supprimer</button>
</form>
<script>
    function f (){
        window.alert("Voulez-vous vraiment continuer ?");
    }
</script