{% extends 'header.html.twig' %}

{% block title %}Mot de passe oublié!{% endblock %}

{% block main %}
<section id="hero" class="hero d-flex align-items-center">
    <div class="container">
        <div class="col-lg-6 d-flex flex-column justify-content-center">

        <h1 class="h3 mb-3 font-weight-normal">Mot de passe oublié</h1>
    {{ form(emailForm) }}
        </div>
    </div>
</section>

{% endblock %}
