
<style>
.row {
    width: 80%;
    margin: auto;
    margin-top: 100px;
}

.btn {
    background-color: #4154f1;
    color: white;
    float: right;
    margin-top: 10px;
}

.form-group {
    margin: 10px;
    margin-bottom: 20px;
}

label {
    font-size: 1.2rem;
    margin-bottom: 10px;
}
</style>

<div class="card">
  <div class="card-body">
    <div class="row">
        <h1>Create new Post</h1>
        {{ form_start(form) }}
            {{ form_widget(form) }}
            <button class="btn">{{ button_label|default('Post') }}</button>
        {{ form_end(form) }}
    </div>
  </div>
</div>
