{% extends 'base.html.twig' %}

{% block main %}

{% endblock %}

{% block hero %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/core@4.1.0/main.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/daygrid@4.1.0/main.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/timegrid@4.1.0/main.min.css">
    <link href="{{ asset('assets/css/calendrier-tache.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/css/calendrier.css') }}" rel="stylesheet">

    <!-- ======= Hero Section ======= -->
    <section id="hero" class="hero d-flex align-items-center">
        <div class="container">
            <div class="col-lg-6 d-flex flex-column justify-content-center">
                <div data-aos="fade-up" data-aos-delay="200" id="calendar-holder" style="width: 100%; height: 100%;" align="center"></div>
            </div>
        </div>
    </section><!-- End Hero -->
    <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/core@4.1.0/main.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/interaction@4.1.0/main.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/daygrid@4.1.0/main.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/timegrid@4.1.0/main.min.js"></script>

    <script src="{{ asset('assets/js/calendrier-options.js') }}"></script>
    <script href="{{ asset('assets/css/calendrier.js') }}"></script>

    <script>
        window.onload = () => {
            var calendarEl = document.getElementById('calendar-holder');

            let calendar = new FullCalendar.Calendar(calendarEl, {
                defaultView: 'dayGridMonth',
                editable: true,
                eventSources: [
                    {
                        url: "/fc-load-events",
                        method: "GET",
                        extraParams: {
                            filters: JSON.stringify({})
                        },
                        failure: () => {
                            alert("error");
                        },
                    },
                ],
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'dayGridMonth,timeGridWeek,timeGridDay',
                },
                plugins: [ 'interaction', 'dayGrid', 'timeGrid' ],
                timeZone: 'UTC',
                select: function (start, end, jsEvent, view) {
                    var abc = prompt('Enter Title');
                    var allDay = !start.hasTime && !end.hasTime;
                    var newEvent = new Object();
                    newEvent.title = abc;
                    newEvent.start = moment(start).format();
                    newEvent.allDay = false;
                    $('#calendar').fullCalendar('renderEvent', newEvent);

                }
            });

            calendar.render();
        }
    </script>
{% endblock %}