<h2>Activation de votre account</h2>
<p>Vous aves cree un compte sur notre site, Veuillez cliquer sur le lien ci-dessous pour l'active</p>
<p><a href="{{ absolute_url(path('activation',{'token': token})) }}"> Activer mon compte </a> </p>
